body {
    background-color: #35654d;
}

#mat {
    display: grid;
    width: 100vh;
    height: 100vh;
    grid-template-columns: repeat(8, 7%);
    grid-template-rows: repeat(8, 10%);
    grid-gap: 5px;
}